*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ff--primary)
}

img {
    max-width: 100%;
}

:root {
    --c--white: #fff;
    --c--brown: #A59678;
    --c--light--grey: #6F737F;
    --c--grey: #3B4050;
    --c--dark:#2E323F;

    --fw--regular: 400;
    --fw--bold:700;

    --ff--primary: 'Oswald', sans-serif;
    --ff--secondary: 'Montserrat', sans-serif;

}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--ff--secondary);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 80%;
}

.button {
    background-color: var(--c--brown);
    padding: .4em 1.3em;
    display: inline-block;
    border-radius: 30px;
    color: var(--c--white);
    text-transform: uppercase;
}


.title {
    color: var(--c--brown)
}

/* 
**********
  NAVBAR
**********
*/


.navbar {
    background-color: var(--c--dark);
    text-align: center;
    padding: 1.5em 0;
    font-size: 1.125rem;
}

.nav__link {
    text-transform: uppercase;
    color: var(--c--white);
}

.nav__item {
    margin-top: 1.3em;
}

.nav__logo img,
.hero__button,
.hamburger {
    transition: transform .3s;
}

.nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav__toggle {
    display: none;
}



/*******************
/* HAMBURGER ICON */
/******************/


.hamburger,
.hamburger::before,
.hamburger::after
 {
    cursor: pointer;
    display: block;
    position: relative;
    width: 20px;
    height: 3px;
    background-color: var(--c--white);
}


.hamburger::before {
    content: "";
    position: absolute;
    top: 6px;
}
.hamburger::after {
    content: "";
    position: absolute;
    bottom: 6px;
}

.hamburger {
    margin-left: auto;
}
/* 
**********
  HERO
**********
*/

.hero {
    background-color: var(--c--grey);
    padding: 3.5em 0;
    color: var(--c--white);
}

.hero__title {
    font-size: 3.625rem;
    line-height: 1.2;
}

.hero__title span {
    color: var(--c--brown);
}

.hero__body {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1.3em 0;
}

.hero__button {
    font-size: 1.5rem;
    padding: .4em 1.7em;
}


/* 
**********
MAIN
**********
*/

.main {
    padding: 3em 0;
}

.main__title {
    font-size: 1.875rem;
    margin-bottom: .5em;
}


.main__body {
    font-size: 1.125rem;
    margin-bottom: 1em;
}

/* 
**********
SECTION
**********
*/

.section {
    margin-bottom:  2em;
}

.section__title {
    font-size: 2.25rem;
    margin-bottom: 1em;
}

.section__body {
    font-size: 1.3125rem;
    line-height: 1.5;
    margin-bottom: 1em;
}

.section__logo {
    margin-bottom: 1em;
}

.side__section {
    background-color: var(--c--grey);
    color: var(--c--white);
    text-align: center;
    padding: 2em 1.5em;
}

.side__section + .side__section {
    margin-top: 2em;
}

.side__section__title {
    font-size: 1.875rem;
}

.side__section__body {
    font-size: 1.125rem;
    line-height: 1.3;
}


/* 
**********
FOOTER 
**********
*/


.footer {
    background-color: var(--c--grey);
    padding: 2em 0;
}

.footer__title {
    font-size: 2.5rem;
    color: var(--c--white);
    margin-bottom: 1em;
    text-align: center;
}

.footer__subtitle {
    font-size: 1.3125rem;
    margin: 1em 0;
}

.footer__body,
.footer__link {
    font-family: var(--ff--secondary);
    color: var(--c--light--grey);
}

.footer__item + .footer__item {
    margin-top: .7em;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    gap: 2em
}


.footer__col__link {
    flex-basis: 130px;
    flex-grow: 1;
    text-align: center;
    
}

@media (min-width:700px) {

    .row {
        display: flex;
        gap: 2em;
    }

    .col {
        display: flex;
        flex-direction: column;
    }

    .nav__links {
        margin-left: auto;
    }

    .nav__item,
    .nav__logo {
        align-self: center;
    }

    .nav__logo {
        align-self: flex-end;
    }

    .footer__col__about {
        flex-basis: 300px;
        flex-grow: 1;
    }

    .main {
        text-align: center;
        padding-bottom: 6em;
    }
    .main .row {
        gap: 6em;
    }
    .side__section + .side__section {
        margin-top: 0em;
    }

    .footer__col__link {
        text-align: start;
    }

    .hamburger {
        display: none;
    }

}

.nav__links:hover .nav__link,
ul:hover .footer__link,
.hero__button:hover {
    color:var(--c--brown);
}
.nav__links:hover .nav__item .nav__button,
.hero__button:hover {
    background-color: #fff;
}

.nav__links:hover .nav__link:not(:hover),
ul:hover .footer__link:not(:hover)  {
    color: white;
    opacity: 0.9;
    filter: blur(.7px);
    color: var(--c--light--grey);
}

.hero__button:hover,
.nav__logo img:hover,
.hamburger:hover {
    transform: scale(1.1);
}

@media(min-width:1000px) {
    
    .row__1000px {
        display: flex;
        gap: 3em;

    }

    .main__section {
        width: 60%;
    }

    .side__sections {
        width: 40%;
        flex-direction: column;
    }
}